/* CSS Global - src/index.css (Certifique-se que está lá) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #333;
  background-image:

          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("public/library-1147815.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
}